:root {
--main-title-text-color: #212121;
--other-title-color: #fff;
--primary-text-color: #757575;
--accent-color: #2196F3;
--accent-background-color: #2F303A;
--bcg-benefits: #F5F4FA;
--icons: #AFB1B8;
}
body {
    background-color: #fff;
    color: var(--main-title-text-color);

    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section,
.portfolio {
    padding: 94px 0;
}
/* Студія */

/*Хедер*/
.header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    padding: 24px 0 25px;
}
.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
    color: var(--main-title-text-color);}
.site-nav .nav-link {
    color: var(--main-title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus{
    color: var(--accent-color);
}
.link.current {
    color: var(--accent-color);
}
.list-contact {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
    gap: 50px;
}
.list-contact .contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.list-contact .contact-link:hover,
.list-contact .contact-link:focus {
    color: var(--accent-color);
}
.header-container {
    display: flex; 
    align-items: center;
}
.nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 92px;
}
.list-header {
    display: flex;
    gap: 50px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.contact-icons {
        fill: currentColor;
        margin-right: 10px;
}

/* Герой */
.section-hero {
    background-color: var(--accent-background-color);
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-overlay-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.hero-title {
    color: var(--other-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 696px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.hero-button {
    color: var(--other-title-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 216px;
    border: 1px solid transparent;
    margin:0 auto;
}
.hero-button:hover {
    background-color: #188CE8;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Переваги */
.benefits-list {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    display: flex;
}
.benefits {
    padding-bottom: 0;
}
.benefits-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
}
.benefits-list .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    max-width: 270px;
}
.benefits-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    height: 120px;
    background-color: var(--bcg-benefits);
    margin-bottom: 30px;
    border-radius: 4px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.benefits-container {
    display: flex;
    align-items: center;
}
/* Приклади */
.title-examples {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.section-examples .img-examples {
    list-style: none;
}
.examples-container {
    /* display: flex; */
    align-items: center;
}
.img-examples {
    margin: auto;
    display: flex;
    gap: 30px;
    flex-basis: calc((100%-60px)/3);
}
/* Команда */
.title-team {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.team-section {
    background-color: #F5F4FA;
}
.team-section .employee {
    background-color: #fff;
}
.team {
    list-style: none;
    flex-basis: calc((100%-90px)/4);
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 30px;
}
.team-section .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}
.team-section .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 16px;
}
.team-container {
    display: flex;
}
.team-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: transparent solid 1px;
    padding: 30px;
}
.social-team {
    list-style: none;
    display: flex;
    gap: 10px;
}
.net-link {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    height: 100%;
    width: 100%;
    cursor: pointer;
    fill: var(--icons)
}
.net-link:hover,
.net-link:focus {
    background-color: var(--accent-color);
    fill: var(--other-title-color);
    background-size: 100%;
    border-radius: 50%;
}
.net-item {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-size: 100%;
}

/* Футер */
.footer {
    background-color: var(--accent-background-color);
    padding: 60px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer .logo {
    display: block;
    margin-bottom: 20px;
}
.footer .logo-studio {
    color: var(--other-title-color);
}
.address {
    font-style: normal;
}
.list-contact-footer {
    list-style: none;
}
.list-contact-footer .contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: block;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.list-contact-footer .contact-link:hover,
.list-contact-footer .contact-link:focus {
    color: var(--accent-color);
}
.map {
    color: var(--other-title-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 9px;
    display: block;
}
.map:hover,
.map:focus {
    color: var(--accent-color);
}
.footer-logo {
    margin-bottom: 100px;
}
.social-box {
    margin-left: 70px
}
.title-social {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--other-title-color);
    margin-bottom: 20px;
}
.list-social {
    list-style: none;
    gap: 10px;
    display: flex;
}
.social-item {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}
.social-icons {
    fill: var(--other-title-color);
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    height: 100%;
    width: 100%;
}
.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    fill: var(--other-title-color);
    background-size: 100%;
    border-radius: 50%;
}
/* Постійні клієнти */
.title-clients {
    color: var(--main-title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.client-logo {
    list-style: none;
    gap: 30px;
    display: flex;
    padding: 0;
    margin: 0;
}
.client {
    height: 92px;
    width: 170px;
    margin-bottom: 30px;
}
.client-link {
        display: flex;
        align-items: center;
        justify-content: center;
        content: "";
        height:100%;
        width: 100%;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill: var(--icons);
}
.client-link:hover,
.client-link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}
/* Портфоліо */
.filter-buttons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
    flex-basis: calc((100%-32px)/5);
}
.portfolio-buttons {
    color: var(--main-title-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
    color: var(--other-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid transparent;
}
.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100%-60px)/3);
    align-items: center;
    justify-content: center;
}
.portfolio-list .title {
    color: var(--main-title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.portfolio-list .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.portfolio-card {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px 19px 24px;
    justify-content: center;
}
.portfolio-img {
    display: block;
}
.shadow {
    text-decoration: none;
    display: block;
}
.shadow:hover,
.shadow:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

