:root {
    --main-title-text-color: #212121;
    --white-color: #fff;
    --other-title-color: #fff;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --accent-background-color: #2F303A;
    --bcg-benefits: #F5F4FA;
    --icons: #AFB1B8;
}
