.clients__title {
    color: var(--main-title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.clients-logo__list {
    list-style: none;
    gap: 30px;
    display: flex;
    padding: 0;
    margin: 0;
}

.clients__item {
    height: 92px;
    width: 170px;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    height: 100%;
    width: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--icons);
    transition-property: fill, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }
}