.footer {
    background-color: var(--accent-background-color);
    padding: 60px 0;

        @media (max-width: 480px) {
                width: 480px;
        }

    .logo-studio {
        color: var(--other-title-color);
    }
}

.footer-container {
    display: flex;
    align-items: baseline;

    @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
        }

        @media screen and (max-width: 1199px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-between;
        }
}

.footer-container__info {
    display: flex;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            display: flex;
            font-size: 24px;
            line-height: 1.1667;
            justify-content: center;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            justify-content: center;
        }

}

.address {
    font-style: normal;
    
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            margin-left: 61px;
            flex-grow: 1;
        }
    
        @media screen and (max-width: 1199px) {
            text-align: center;
        }
}

.footer__list-contact {
    list-style: none;

    @media (max-width: 480px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
}

.footer__contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: block;
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

        @media (max-width: 767px) {
            display: inline-block;
            justify-content: center;
        }
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__item {
display: block;

    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}

.footer__map {
    color: var(--other-title-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 9px;
    display: block;
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__social-box {
    margin-left: 124px;
    margin-right: 90px;
}

.footer__title-social {
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--other-title-color);
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
            text-align: center;
        }
}

.footer__list-social {
    list-style: none;
    gap: 10px;
    display: flex;
}

.footer__social-item {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer__social-icon {
    fill: var(--white-color);
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition-property: fill, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--white-color);
        background-size: 100%;
        border-radius: 50%;
    }
}

.footer__text-form {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--other-title-color);
    margin-bottom: 20px;

    @media screen and (max-width: 1119px) {
        text-align: center;
    }
}

.footer-form {
    display: flex;

    @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 0;
        }

                @media screen and (max-width: 1200px)  {
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;
                    margin-left: auto;
                    margin-right: auto;
                }

        @media screen and (max-width: 1200px)  {
           flex-direction: column;
            gap: 20px;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
}

.footer__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding: 16px 15px;
    background-color: var(--accent-background-color);
    color: var(--white-color);

    &::placeholder {
        font-size: 16px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

         @media (max-width: 767px) {
             width: 450px;
             margin-bottom: 20px;
         }
}

.footer-button {
    position: relative;
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    letter-spacing: 0.06em;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    cursor: pointer;
    display: flex;
    padding: 10px 28px;
    width: 200px;
    margin-left: 12px;
    height: 50px;
    border: 1px solid transparent;
    display: flex;
    gap: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition-property: color, fill, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: #188CE8;
    }

}

.footer__icon-send {
    position: absolute;
    fill: var(--white-color);
    right: 28px;
}

.footer__form-container {
    margin-left: 93px;

        @media (max-width: 767px) {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-left: 0;
            }

            @media screen and (min-width: 767px) and (max-width: 1199px) {
                margin-top: 60px;
                margin-left: auto;
                margin-right: auto;
            }
}

.contact-box {
    // display: block;
    
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            padding-left: 124px;
            margin-bottom: 60px;
        }

}

.footer__net-container {
    margin-bottom: 60px;
}