.header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    padding: 24px 0 25px;

    @media screen and (max-width: 768px) {
        padding: 15px 0;
    }
}

.header-nav {
    display: flex;
    gap: 91px;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.header-nav__link {
    color: var(--main-title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &:hover,
    .header-nav__link:focus {
        color: var(--accent-color);
    }
}

.header-nav__link--current {
    position: relative;
}

.header-nav__link--current {
    color: var(--accent-color);

    &::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}

.header-contact__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
    gap: 50px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-left: auto;
            align-items: baseline;
            font-size: 12px;
            padding: 0;
    }
}


.header-contact__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header-container {
    display: flex;
    align-items: center;

}

.header-nav__list {
    flex-grow: 1;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
            display: flex;
            gap: 50px;
        }
}

.contact__icons {
    fill: currentColor;
    margin-right: 10px;
}

.header-nav__list,
.header-contact__list {
    display: none;

@media screen and (min-width: 768px) {
        display: flex;
    }
}

